@model Steller.Models.TblService
@{
    ViewBag.Title = "AddService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Ekleme Sayfası</h2>
<form method="post">
      <label>Hizmet Adı</label>
@Html.TextBoxFor(x=> x.servicedName, new {@class = "form-control" })
<br/>
  <label>Hizmet İkonu</label>
@Html.TextBoxFor(x=> x.serviceliconUrl, new {@class = "form-control" })
<br/>
<button class="btn btn-outline-primary">Kaydet</button>
</form>